    <div ng-controller="DatepickerDemoCtrl">
        <document-upload-area ng-model="documents">
            <button ng-click="openModal()"></button>
        </document-upload-area>
    </div>


@section Scripts{
    @*todo: put these in bundle files*@
   <script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/angular-messages.js"></script>
<script src="~/Scripts/app/module.js"></script>
<script src="~/Scripts/app/Common/module.js"></script>
<script src="~/Scripts/app/Common/Services/modalService.js"></script>
<script src="~/Scripts/app/Location/module.js"></script>
<script src="~/Scripts/app/Location/Directives/stateSelect.js"></script>
<script src="~/Scripts/app/Location/Directives/countySelect.js"></script>
<script src="~/Scripts/app/Upload/Directives/dialogForm.js"></script>
<script src="~/Scripts/app/Upload/Directives/documentUploadArea.js"></script> 
    }

